<div class="container">
    <div class="row">
        <div class="col-sm text-center resultat">
            Resultat: {{correct}} av {{tries}}
            <a type="button"
            class="text-danger"
            [ngStyle]="{'margin-left': '5px', 'margin-top': '5px','border-radius':'10px', 'border-style' : 'solid', 'padding': '2px'}"
            (click)="nollaData()"
            >X</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 test-center">
            <img src="assets/images/check.svg" alt="success" class="success" [ngStyle]="{'visibility': showSuccess ? 'visible': 'hidden'}"
            (click)="doNext()">
            <img src="assets/images/failed.svg" alt="failed" class="failed" [ngStyle]="{'visibility': showFailed ? 'visible': 'hidden'}">
            <span class="display-3 talet">{{kvot}}&#247;{{tal1}}&#61;{{svar}}</span>
            <br>
            <app-knappsats 
            (keyEnteredEvent)="onAddValueToResult($event)"
            (removeLastEvent)="onRemoveLastValue($event)"
            (doneEvent)="onCheckResult($event)"
            ></app-knappsats>
            <ng5-slider [(value)]="maxtal" [options]="slideoptions" (userChangeEnd)="rangeChanged($event)"></ng5-slider>
        </div>
    </div>
</div>